<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Raf's Travel app</title>
    </head>
    <body>
        <header> 
            <div class="logo"></div>
            <p>Raf's Travel App</p>
        </header>
        <main>
            <section id= "input">
                <form class="form" onsubmit="return handleSubmit(event)">
                    <span>1-Please your destination:</span>
                    <input id="destination" type="text" name="input" value ="" placeholder =" destination">
                    <input id="date" type="text" name="input" value= "" placeholder = "date">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>
            <section id="picture">
            </section>
            <section id="output">
                <dic id="test"></div>
                <div id="date"></div>
                <div id="temperature"></div>
                <div id="icon"></div>
            </section>
        </main>
        <footer>
            udacity Project<br>
            @copyright
        </footer>
    </body>
</html>